{% extends 'base.html.twig' %}

{% block title %}Webposts Articles{% endblock %}

{% block body %}
    <main class="container">
        <section id="posts">
            <div class="row">
                <h2 class="display-4 my-5">Tous nos articles</h2>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for p in posts %}
                        <div class="col">
                            <div class="card h-100">
                                <h3 class="card-header">{{ p.title }}</h3>
                                <img src="{{ asset('images/' ~ p.image) }}"
                                     class="card-img-top" alt="{{ p.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ p.category.name }}</h5>
                                    <p class="card-text">{{ p.content |u.truncate(100, '...', false) }}</p>
                                </div>
                                <ul >
                                    <li class="list-group-item">
                                        {{ p.created|date('d/m/y') }}
                                    </li>
                                    <li class="list-group-item">
                                        <a href="{{ path('app_gallery_painting',{slug:p.slug }) }}" class="btn btn-outline-dark">Lire la suite</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    </main>
{% endblock %}
